<form method="get" action="/answer">
  <label for="question">What's your question?</label>
  <input type="text" name="question" placeholder="type your question">
  <input type="submit" value="Ask!">
</form>